<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [class.active]="currCategory==='clothes'" (click)="viewCategory('clothes')">Clothes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="currCategory==='accessories'" (click)="viewCategory('accessories')">Accessories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="currCategory==='jewelry'" (click)="viewCategory('jewelry')">Jewelry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="currCategory==='tech'" (click)="viewCategory('tech')">Tech</a>
  </li>
</ul>
<div class="container py-3" [ngSwitch]="currCategory">
  <div class="row" *ngSwitchCase="'clothes'"><h1>Clothes</h1></div>
  <div class="row" *ngSwitchCase="'accessories'"><h1>Accessories</h1></div>
  <div class="row" *ngSwitchCase="'jewelry'"><h1>Jewelry</h1></div>
  <div class="row" *ngSwitchCase="'tech'"><h1>Tech</h1></div>
</div>
